<%= form_with model:store, local:true do |f| %>
  <div class="form-group">
    <%= f.label :"店舗名" %>
    <%= f.text_field :store_name, placeholder: "店舗名", class: "form-control store_name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :"郵便番号" %>
    <%= f.text_field :postal_code, placeholder: "(ハイフンなし)例：1234567", class: "form-control postal_code" %>
  </div>
  <div class="form-group">
    <%= f.label :"店舗住所" %>
    <%= f.text_field :address, placeholder: "店舗住所", class: "form-control address" %>
  </div>
  <div class="form-group">
    <%= f.label :"交通手段" %>
    <%= f.text_field :transportation, placeholder: "例：東京駅徒歩5分", class: "form-control transportation" %>
  </div>
  <div class="form-group">
    <%= f.label :"メニュー" %>
    <%= f.text_area :menu, placeholder: '例：
・しょうゆラーメン700円
・みそラーメン750円
・餃子200円', class: "form-control menu", :size => "5x5" %>
  </div>
  <div class="form-group">
    <%= f.label :"営業日" %>
    <%= f.text_field :business_day, placeholder: '例：[月〜金]11:00~15:00,17:00~21:00', class: "form-control business_day" %>
  </div>
  <div class="form-group">
    <%= f.label :"定休日" %>
    <%= f.text_field :holiday, placeholder: '定休日', class: "form-control holiday" %>
  </div>
  <div class="form-group">
    <%= f.label :"営業状況" %>：
    <div class="form-check form-check-inline">
      <%= f.radio_button :business_status, "営業中", class: "form-check-input" %>
      <%= f.label :"営業中", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :business_status, "休業中", class: "form-check-input" %>
      <%= f.label :"休業中", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :business_status, "閉店", class: "form-check-input" %>
      <%= f.label :"閉店", class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-secondary' %>
  </div>
<% end %>