    <%= form_with model:store, local:true do |f| %>
      <div class="form-group">
        <%= f.label :"店舗名" %>
        <%= f.text_field :store_name, class: "form-control store_name" %>
      </div>
      <div class="form-group">
        <%= f.label :"店舗紹介" %>
        <%= f.text_field :store_introduction, class: "form-control store_introduction" %>
      </div>
      <div class="form-group">
        <%= f.label :"郵便番号" %>
        <%= f.text_field :postal_code, class: "form-control postal_code" %>
      </div>
      <div class="form-group">
        <%= f.label :"住所" %>
        <%= f.text_field :address, class: "form-control address" %>
      </div>
      <div class="form-group">
        <%= f.label :"交通手段" %>
        <%= f.text_field :transportation, class: "form-control transportation" %>
      </div>
      <div class="form-group">
        <%= f.label :"営業日" %>
        <%= f.text_field :business_day, class: "form-control business_day" %>
      </div>
      <div class="form-group">
        <%= f.label :"定休日" %>
        <%= f.text_field :holiday, class: "form-control holiday" %>
      </div>
      <div class="form-group">
        <%= f.submit "botton" , class: 'btn btn-secondary' %>
      </div>
    <% end %>