<div class='container'>
  <div class='row'>
    <div class="col-sm-12 mx-auto">
      <!--テーブルの見出し、検索フォーム、新規店舗登録ボタンのパーシャル-->
      <%= render 'index' %>
        <tbody>
          <% @stores.each.with_index(1) do |store, index| %>
          <tr>
            <td class="text-center">
              <% unless @selection == 'new' %>
              <!--トップ3部分テンプレート-->
                <%= render 'shared/rank', index: index %>
              <% end %>
            </td>
            <td>
              <%= link_to store_path(store.id) do %>
                <%= store.store_name %>
              <% end %>
            </td>
            <td><%= store.address %></td>
            <td>
              <% if @genre == 'しょうゆ' %>
                <!--星平均部分テンプレート（しょうゆ〜とんこつまで）-->
                <% avg = store.store_comments.where(genre: 1).average(:rate) %>
                  <% unless avg.nil? %>
                    <%= render'shared/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                  <% end %>
              <% elsif @genre == 'みそ' %>
                <% avg = store.store_comments.where(genre: 2).average(:rate) %>
                  <% unless avg.nil? %>
                    <%= render 'shared/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                  <% end %>
              <% elsif @genre == 'とんこつ' %>
                <% avg = store.store_comments.where(genre: 3).average(:rate) %>
                  <% unless avg.nil? %>
                    <%= render 'shared/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                  <% end %>
              <% elsif @genre == 'しお' %>
                <% avg = store.store_comments.where(genre: 4).average(:rate) %>
                  <% unless avg.nil? %>
                    <%= render 'shared/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                  <% end %>
              <% else %>
                <% avg = store.store_comments.average(:rate) %>
                  <% unless avg.nil? %>
                    <%= render 'shared/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                  <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @stores, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>