<div class='container'>
  <div class='row'>
    <div class="col-sm-10 mx-auto">
      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store.store_name %></4></div>
          <% if user_signed_in? %>
            <%= link_to "店舗情報編集", edit_store_path, class: "btn btn-outline-secondary" %>
          <% end %>
      </div>
      <!--星評価-->
      <% avg = @store.store_comments.average(:rate) %>
        <% unless avg.nil? %>
          <%= render 'star_average', { rate_name: "rate", store: @store, score: avg.nil? ? 0 : avg.round(1) } %>
        <% end %>
      <p><%= @store.address %></p>
      <div class="row justify-content-between">
        <div class="col-6"><h5><%= @store.store_name %>の情報</5></div>
          <% if user_signed_in? %>
            <%= link_to "新規口コミ作成", new_store_store_comment_path(@store.id), class: "btn btn-outline-success" %>
          <% end %>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#store_information" data-toggle="tab" class="nav-link active">店舗情報</a></li>
        <li class="nav-item"><a href="#store_commnets" data-toggle="tab" class="nav-link">口コミ</a></li>
        <li class="nav-item"><a href="#store_photos" data-toggle="tab" class="nav-link">写真</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active " id="store_information">
          <table class="table">
            <tr>
              <th>店舗名</th><td><%= @store.store_name %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td>
                〒<%= @store.postal_code%>&ensp;<%= @store.address %>
                <%= render 'map', store: @store %>
                </td>
            </tr>
            <tr>
              <th>交通手段</th><td><%= @store.transportation %></td>
            </tr>
            <tr>
              <th>メニュー</th><td><%= simple_format(@store.menu) %></td>
            </tr>
            <tr>
              <th>営業日</th><td><%= @store.business_day %></td>
            </tr>
            <tr>
              <th>定休日</th><td><%= @store.holiday %></td>
            </tr>
          </table>
      </div>


      <div class="tab-pane" id="store_commnets">
        <div class="pagenate">
        <% @store.store_comments.each do |store_comment|%>
          <%= render 'store_comments/comment', user: @store, store_comment: store_comment %>
        <% end %>
        <%= paginate @store_comments, remote: true %>
        </div>
      </div>




      <div class="tab-pane" id="store_photos">
        <div class="row">
        <% @store.store_comments.each do |store_comment|%>
          <div class="col-md-4" >
            <div class="card-group">
              <div class="card m-2">
                <%= link_to store_store_comment_path(@store.id, store_comment.id) do %>
                  <%= attachment_image_tag(store_comment, :product_image,  fallback: "no_image.jpg", class: 'card-img-top border border-3') %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>