<div class='container'>
  <div class='row'>
    <div class="col-sm-12 mx-auto">

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store.store_name %></4></div>
          <% if user_signed_in? %>
            <%= link_to "店舗情報編集", edit_store_path %>
          <% end %>
      </div>

      <!--星評価-->

      <%= render 'star_average', { rate_name: "rate" ,store: @store, score: @store.store_comments.average(:rate).round(2) } %>

      <p><%= @store.address %></p>

      <table class="table">
        <tr>
          <th>店舗名</th><td><%= @store.store_name %></td>
        </tr>
        <tr>
          <th>店舗紹介</th><td><%= @store.store_introduction%></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @store.postal_code%><%= @store.address %></td>
        </tr>
        <tr>
          <th>交通手段</th><td><%= @store.transportation %></td>
        </tr>
        <tr>
          <th>営業日</th><td><%= @store.business_day %></td>
        </tr>
        <tr>
          <th>定休日</th><td><%= @store.holiday %></td>
        </tr>
      </table>

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store.store_name %>の口コミ</4></div>
          <% if user_signed_in? %>
            <%= link_to "新規口コミ作成", new_store_store_comment_path(@store.id) %>
          <% end %>
      </div>

      <% @store.store_comments.each do |store_comment|%>
       <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= attachment_image_tag(store_comment, :product_image, size: "200x200", fallback: "no_image.jpg") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <%= link_to store_store_comment_path(@store.id, store_comment.id) do %>
                <h5 class="card-title"><%= store_comment.title %></h5>
              <% end %>
              <%= render 'star', store: store_comment %>
              <p>ジャンル：[<%= store_comment.genre %>]</p>
              <p class="card-text"><%= store_comment.introduction %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>


    </div>
  </div>
</div>