<div class='container'>
  <div class='row'>
    <div class="col-sm-12 mx-auto">

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store.store_name %></4></div>
          <% if user_signed_in? %>
            <%= link_to "店舗情報編集", edit_store_path %>
          <% end %>
      </div>
      <p>総合星評価</p>
      <p><%= @store.address %></p>


      <table class="table">
        <tr>
          <th>店舗名</th><td><%= @store.store_name %></td>
        </tr>
        <tr>
          <th>店舗紹介</th><td><%= @store.store_introduction%></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @store.postal_code%><%= @store.address %></td>
        </tr>
        <tr>
          <th>交通手段</th><td><%= @store.transportation %></td>
        </tr>
        <tr>
          <th>営業日</th><td><%= @store.business_day %></td>
        </tr>
        <tr>
          <th>定休日</th><td><%= @store.holiday %></td>
        </tr>
      </table>

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store.store_name %>の口コミ</4></div>
          <% if user_signed_in? %>
            <%= link_to "新規口コミ作成", new_store_store_comment_path(@store.id) %>
          <% end %>
      </div>

      <% @store.store_comments.each do |store_comment|%>
      <table class="table">
        <tr>
          <th>
            <%= link_to store_store_comment_path(@store.id, store_comment.id) do %>
              <%= store_comment.user.name %>さんのコメント
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <div id="rate_<%= store_comment.id %>"></div>
            <script>
              $('#rate_<%= store_comment.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= store_comment.rate %>,
              });
            </script>
          </th>
        </tr>
        <tr>
          <th>タイトル</th><td><%= store_comment.title %></td>
        </tr>
        <tr>
          <th>口コミ</th><td><%= store_comment.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= store_comment.genre %></td>
        </tr>
      </table>
      <% end %>

    </div>
  </div>
</div>