<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <table class='table table-borderless'>
        <tr><%= attachment_image_tag(@user, :profile_image, size: "200x200", fallback: "no_image.jpg", class: "rounded-circle d-block mx-auto") %></tr>
        <tr>
      	  <th class="text-center"><%= @user.name %></th>
        </tr>
        <tr>
      	  <th class="text-center"><%= simple_format(@user.introduction) %></th>
        </tr>
      </table>

      <div class='row test-center'>
        <% if @user == current_user %>
         <%= link_to '編集',edit_user_path(@user),class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </div>

    <h5 class='p-2 text-center'><i class="fas fa-trophy" style='color: gold;'></i><%= @user.name %>さんのランキング</h5>
    <% @my_ranks.each.with_index(1) do |my_rank, index| %>
      <% avg = my_rank.store_comments.where(user_id: @user.id).average(:rate) %>
      <% unless avg.nil? %>
        <table class='table'>
            <tr>
            <th class="text-left">
              <% case index when 1 %>
                <i class="fas fa-crown" style='color: gold;'></i>1位
              <% when 2 %>
                <i class="fas fa-crown" style='color: silver;'></i>2位
              <% when 3 %>
                <i class="fas fa-crown" style='color: orange;'></i>3位
              <% else %>
                <%= index %>位
              <% end %>
            </th>
              <th>
                <%= link_to store_path(my_rank.id) do %>
                  <%= my_rank.store_name %>
                <% end %>
              </th>
            </tr>
            <tr>
          	  <th colspan="2"><%= render 'stores/star_average', { rate_name: "my_rate" ,store: my_rank, score: avg.nil? ? 0 : avg.round(1) } %></th>
            </tr>
          </table>
          <% end %>
        <% end %>


    </div>
    <div class='col-md-7 offset-md-1'>
      <h4><i class="fas fa-comments"></i>&ensp;<%= @user.name %>さんの口コミ数<%= @user.store_comments.count %>件</h4>
            <% @user.store_comments.each do |store_comment|%>
            <!--フッダーを除くカードのパーシャル-->
              <%= render 'store_comments/comment', user: @user, store_comment: store_comment %>
              <div class="col-6">店舗名：<%= store_comment.store.store_name %></div>
                投稿日:<%= store_comment.created_at.strftime('%Y/%m/%d') %>&ensp;
              </div>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>
