<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h2>User info</h2>
      <table class='table'>
        <tr><%= attachment_image_tag(@user, :profile_image, size: "200x200", fallback: "no_image.jpg") %></tr>
        <tr>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
      	  <th><%= @user.introduction %></th>
        </tr>
      </table>

      <div class='row test-center'>
        <% if @user == current_user %>
         <%= link_to '編集',edit_user_path(@user),class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </div>
      
    <h5 class='p-2'><%= @user.name %>さんのランキング</h5>
    <% @my_ranks.each.with_index(1) do |my_rank, i| %>
      <% avg = my_rank.store_comments.where(user_id: @user.id).average(:rate) %>
      <% unless avg.nil? %>
        <table class='table'>
            <tr>
              <th><p>第<%= i %>位</p></th>
              <th>
                <%= link_to store_path(my_rank.id) do %>
                  <%= my_rank.store_name %>
                <% end %>
              </th>
            </tr>
            <tr>
          	  <th colspan="2"><%= render 'stores/star_average', { rate_name: "my_rate" ,store: my_rank, score: avg.nil? ? 0 : avg.round(1) } %></th>
            </tr>
          </table>
          <% end %>
        <% end %>


    </div>
    <div class='col-md-7 offset-md-1'>
      <h4><%= @user.name %>さんの口コミ</h4>
      <p>口コミ<%= @user.store_comments.count %>件</p>

      <% @user.store_comments.each do |store_comment|%>
       <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= attachment_image_tag(store_comment, :product_image, fallback: "no_image.jpg", class: 'card-img-top') %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <%= link_to store_store_comment_path(@user.id, store_comment.id) do %>
                <h5 class="card-title"><%= store_comment.title %></h5>
              <% end %>
              <%= render 'stores/star', store: store_comment %>
              <p>ジャンル：[<%= store_comment.genre %>]</p>
              <p class="card-text"><%= store_comment.introduction.truncate(90) %>
              <%= link_to "詳細をみる", store_store_comment_path(@user.id, store_comment.id) %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    
    </div>
  </div>
</div>
