<% if store.store_comments.present? %>
  <div class="rate_<%= store.id %>_<%= rate_name %>" ></div>
    (<%= score %>/5.0)
    <script>
      $('.rate_<%= store.id %>_<%= rate_name %>').empty();
        $('.rate_<%= store.id %>_<%= rate_name %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= score %>,
        });
    </script>
<% else %>
  <p>口コミ0件</p>
<% end %>