<div class="container">
  <h2>らあめんKING</h2>
    <div class="row justify-content-between">
      <div class="col-4"><h5><i class="fas fa-trophy" style='color: gold;'></i>総合ランキング</h5></div>
        <%= link_to "ジャンル別のランキングも見る", stores_path %>
      </div>
    <div class="row">
      <% @top_ranks.each.with_index(1) do |store, index| %>
      <% avg = store.store_comments.average(:rate) %>
        <div class="col-md-4" >
          <div class="card-group">
            <div class="card mb-3">
              <%= attachment_image_tag(store.store_comments.order(rate: :DESC).first, :product_image, fallback: "no_image.jpg", class: 'card-img-top') %>
              <div class="card-body text">
              <h4>
                <% case index when 1 %>
                  <i class="fas fa-crown" style='color: gold;'></i>1位
                <% when 2 %>
                  <i class="fas fa-crown" style='color: silver;'></i>2位
                <% when 3 %>
                  <i class="fas fa-crown" style='color: orange;'></i>3位
                <% end %>
                <%= link_to store_path(store.id) do %>
                  <h5 class="card-title"><%= store.store_name %></h5>
                <% end %>
              </h4>
                <%= render 'stores/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %>
                <%= store.address %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
 <table class="table m-2" style="table-layout:fixed;">
   <tbody>
        <% @ranks.each.with_index(4) do |store, index| %>
        <% avg = store.store_comments.average(:rate) %>

          
          <tr>
            <th style="width:150px;">第<%= index %>位</th>
            <th>
              <%= link_to store_path(store.id) do %>
                <%= store.store_name %>
              <% end %>
              </th>
            <th><%= store.address %></th>
            <th><%= render 'stores/star_average', { rate_name: "rate" ,store: store, score: avg.nil? ? 0 : avg.round(1) } %></th>
          </tr>
          <% end %>
        </tbody>
        </table>
          
    </div>
  <%= paginate @ranks, theme: 'twitter-bootstrap-4' %>
</div>