<div class="container">
  <h2>らあめんKING</h2>
    <h5>総合ランキング</h5>
    <div class="row">
      <% @stores.each.with_index(1) do |store, i| %>
        <div class="col-md-4" >
          <div class="card-group">
            <div class="card">
              <p>第<%= i %>位</p>
              <%= link_to store_path(store.id) do %>
                <%= attachment_image_tag(store.store_comments.first, :product_image, size: "288x250", fallback: "no_image.jpg") %>
              <div class="card-body text">
                <h5 class="card-title"><%= store.store_name %></h5>
              <% end %>
                <%= render 'stores/star_average', store: store %>
                <p class="card-text"><%= store.address %></p>
                <p class="card-text"><%= store.business_day %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h5>とんこつランキング</h5>
     <div class="row">
      <% @tonkotsu_ranks.each.with_index(1) do |store, i| %>
        <div class="col-md-4" >
          <div class="card-group">
            <div class="card">
              <p>第<%= i %>位</p>
              <%= link_to store_path(store.id) do %>
                <%= attachment_image_tag(store.store_comments.first, :product_image, size: "288x250", fallback: "no_image.jpg") %>
              <div class="card-body text">
                <h5 class="card-title"><%= store.store_name %></h5>
              <% end %>
                <%= render 'stores/star_average', store: store %>
                <p class="card-text"><%= store.address %></p>
                <p class="card-text"><%= store.business_day %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>