<div class="container">
  <h2>らあめんKING</h2>
    <h5>総合ランキング</h5>
    <div class="row">
      <% @stores.each.with_index(1) do |store, i| %>
        <div class="col-md-4" >
          <div class="card-group">
            <div class="card">
              <p>第<%= i %>位</p>
              <%= link_to store_path(store.id) do %>
                <%= attachment_image_tag(store.store_comments.order(rate: :DESC).first, :product_image, fallback: "no_image.jpg", class: 'card-img-top') %>
              <div class="card-body text">
                <h5 class="card-title"><%= store.store_name %></h5>
              <% end %>
                <%= render 'stores/star_average', { rate_name: "rate" ,store: store, score: store.store_comments.average(:rate).round(1) } %>
                  <p>口コミ<%= store.store_comments.count %>件</p>
                <p class="card-text"><%= store.address %></p>
                <p class="card-text"><%= store.business_day %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h5>とんこつランキング</h5>
     <div class="row">
      <% @tonkotsu_ranks.each.with_index(1) do |tonkotsu_rank, i| %>
        <div class="col-md-4" >
          <div class="card-group">
            <div class="card">
              <p>第<%= i %>位</p>
              <%= link_to store_path(tonkotsu_rank.id) do %>
                <%= attachment_image_tag(tonkotsu_rank.store_comments.where(genre: 2).order(rate: :DESC).first, :product_image, fallback: "no_image.jpg",class: 'card-img-top') %>
              <div class="card-body text">
                <h5 class="card-title"><%= tonkotsu_rank.store_name %></h5>
              <% end %>
               <%= render 'stores/star_average', { rate_name: "tonkotsu_rate", store: tonkotsu_rank, score: tonkotsu_rank.store_comments.where(genre: 2).average(:rate).round(1) } %>
                 <p>口コミ<%= tonkotsu_rank.store_comments.where(genre: 2).count %>件</p>
                <p class="card-text"><%= tonkotsu_rank.address %></p>
                <p class="card-text"><%= tonkotsu_rank.business_day %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>