<div class="form-group">
  <%= f.label :"タイトル" %>
  <%= f.text_field :title, placeholder: "タイトル", class: "form-control title", autofocus: true %>
</div>
<div>評価</div>
<div class="form-group" id="star">
  <%= f.label :"評価" %>
  <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
</div>
<script>
  $('#star').empty();
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'store_comment[rate]',
      half: true,
    });
</script>
<div class="form-group">
  <%= f.label :"口コミ" %>
  <%= f.text_area :introduction, placeholder: "口コミ", class: "form-control introduction", :size => "5x10" %>
</div>
<div class="form-group">
  <%= f.label :"ジャンル" %>
  <%= f.select :genre, [["しょうゆ", "しょうゆ"],["みそ", "みそ"],["とんこつ", "とんこつ"],["しお", "しお"]],include_blank: "選択して下さい" %>
</div>
<div class="form-group">
  <%= f.label :"画像" %>
  <%= f.attachment_field :product_image, class: "form-control-file product_image" %>
</div>