<div class='container'>
  <div class='row'>
    <div class="col-sm-12 mx-auto">

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store_comment.store.store_name %></4></div>
          <% if user_signed_in? %>
            <%= link_to "口コミ編集", edit_store_store_comment_path(@store, @store_comment) %>
            <%= link_to "口コミ削除", store_store_comment_path(@store, @store_comment), method: :delete %>
          <% end %>
      </div>
      <p>店舗総合星評価</p>
      <p><%= @store_comment.store.address %></p>
      
      <table class="table">
        <tr>
          <th>◯◯さんのコメント</th>
        </tr>
        <tr>
          <th>ユーザー星評価</th>
        </tr>
        <tr>
          <th>タイトル</th><td><%= @store_comment.title %></td>
        </tr>
        <tr>
          <th>口コミ</th><td><%= @store_comment.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @store_comment.genre %></td>
        </tr>
      </table>
        
        
        