<div class='container'>
  <div class='row'>
    <div class="col-sm-12 mx-auto">

      <div class="row justify-content-between">
        <div class="col-4"><h4><%= @store_comment.store.store_name %></4></div>
          <% if @store_comment.user == current_user %>
            <%= link_to "口コミ編集", edit_store_store_comment_path(@store, @store_comment) %>
            <%= link_to "口コミ削除", store_store_comment_path(@store, @store_comment), method: :delete %>
          <% end %>
      </div>

      <p><%= @store_comment.store.address %></p>

      <table class="table">
        <tr>
          <th>
            <%= link_to user_path(@store_comment.user_id) do %>
              <%= @store_comment.user.name %>さんの口コミ
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <p>評価</p>
            <div id="rate_<%= @store_comment.id %>"></div>
            <script>
              $('#rate_<%= @store_comment.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @store_comment.rate %>,
              });
            </script>
          </th>
        </tr>
        <tr>
          <th>タイトル</th><td><%= @store_comment.title %></td>
        </tr>
        <tr>
          <th>口コミ</th><td><%= @store_comment.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @store_comment.genre %></td>
        </tr>
      </table>

    </div>
  </div>
</div>