<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span>らあめんKING</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item ml-5 ">
            <%= link_to "マイページ", user_path(current_user), class: "fas fa-home nav-link text-light" %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to "店舗一覧", stores_path, class: "fas fa-store nav-link text-light" %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
          </li>
        <% else %>
          <li class="nav-item ml-5">
            <%= link_to "店舗一覧", stores_path, class: "fas fa-store nav-link text-light" %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to "サイト紹介", about_path, class: "fas fa-link nav-link text-light" %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to "新規登録", new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to "ログイン", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %>
          </li>
        <% end %>
      </div>
    </div>
  </nav>
</header>